__pycache__/
*.py[cod]
*.egg-info/
.dist/
dist/
.build/
.build/
.venv/
.vscode/
.idea/
.DS_Store
*.log
.isa_cache/

# Ignore cloned benchmark repos
benchmarks/*/*_vuln/
benchmarks/*/*_fixed/
benchmarks/*/pug_vuln/
benchmarks/*/pug_fixed/
